html, body {
    height: 100%;
    width: auto;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Ensure padding and border are included in width/height */
    overflow: hidden; /* Prevent scrolling */

  }
  
  * {
    box-sizing: inherit; /* Inherit box-sizing from html */
  }